---
layout: default
published: true
---

<div id="resDebug" style="display: none"></div>

<!--HOME START-->
<div id="home">
  <div class="slider home-slider clearfix"><!--  data-auto-play="8000" -->

    <div class="slide img-bg clearfix" data-background="images/slider/1.jpg">
      <div class="slider-mask"></div>
      <div class="caption-box">
        <div class="container">
          <div class="row">
            <div class="caption-content col-xs-10 col-xs-offset-1 col-md-6 col-md-offset-0 trans-bg">
              {% capture topsection_md %}{% include sections/top.md %}{% endcapture %}
              {{ topsection_md | markdownify }}
            </div>
            <div class="col-xs-10 col-xs-offset-1 col-md-6 col-md-offset-0">
              <iframe width="100%" style="height: 374px" src="https://www.youtube.com/embed/2jwaMJrwoho?&theme=light&keyboard=1&autohide=1&modestbranding=1&fs=0&showinfo=0&rel=0&iv_load_policy=3"frameborder="0"></iframe>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12">
              <div class="text-center"><i class="fa fa-angle-down fa-4x"></i></div>
            </div>
          </div>
        </div><!--/.container-->
        <small class="photo-credit">{{ site.photo_credit }}</small>
      </div><!--/.caption-box-->
    </div><!--/.slider1-->
  </div><!--/.slider-->
</div><!--/home-->
<!--HOME END-->

<div id="about" class="content bright-bg">
  <div class="container">
    <div class="row">
      <div class="col-md-8 align-center col-md-offset-2">
        <h2 class="head-title">The incredible journey begins!</h2>
        <p><font size=4>
          We believe that more and more people share our concerns about the choices we as consumers make. Our choices have huge consequences on our bodies as well as the environment. Yet, we don’t always take our time to address these consequences in our busy everyday lives.
        </p>
        <p><font size=4>
          At <b>Trysome</b> we've done the hard work for you. We've created a network of partners whose products are good for you and for the planet. Now all you have to do is pick the products you want to try. All for free. That way there's no stress, no pressure. Try it, tell us your thoughts, and we help our partners continue to improve it for everyone to enjoy, including Mother Nature.
        </p>
        <p><font size=4>
          In sum, we seek to <b>engage and inspire</b> you to join us on this journey to change the world by changing the way we consume. Now, go try some!
        </p>
        
          <div class="liner"></div>
    <div class="clearboth"></div>
    <i class="fa fa-heart-o"></i>
          
          
          
      </div>
    </div><!--/.row-->
  </div><!--/.container-->
</div><!--/about-->


<div id="journey" class="content grey-bg">

  <div class="container">
    <div class="row">
      <div class="col-xs-12 align-center">
        <h2>{{ site.journey.title }}</h2>
        <div class="liner"></div>
      </div>

      {% for step in site.journey.steps %}
        <div class="col-md-3">
          <div class="col-md-6">
            <img src="images/{{ step.img_path }}">
          </div>
          <div class="col-md-6 icon">
            <i class="fa fa-{{ step.icon }} fa-3x text-green hidden-xs hidden-sm"></i>
          </div>
          <div class="col-md-12">
            <h3>{{ step.title }}</h3>
            <p>{{ step.description }}</p>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</div>

<div id="product-samples" class="bg bg1 clearfix">
  <div class="bg-mask"></div>
  <div class="para-img"></div>
  <div class="container big-text">

    <h2 class="white-text">{{ site.product_categories.title }}</h2>
    <p class="highlight">{{ site.product_categories.sub_title }}</p>
    <div class="row">
      <div class="spacing40"></div>
      <div class="product-samples-body clearfix">
        {% for category in site.product_categories.categories %}
          <div class="col-md-3 col-sm-6">
            <img class="product-sample {{ category.css_class }}" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7">
            <p>{{ category.title }}</p>

            <div class="spacing30"></div>
          </div><!--/.col-md-3-->
        {% endfor %}

      </div><!--/.product-samples-body-->
    </div><!--/.row-->
  </div><!--/.container-->
</div><!--/.product-samples-->


<div class="bg bg2 clearfix">
  <div class="bg-mask"></div>
  <div class="para-img"></div>
  <div class="container big-text">
    <h3>Here's what others have to say... </h3>
    <p><a href="http://www.ediblebrooklyn.com/2015/09/15/this-startup-wants-to-send-you-free-food-in-exchange-for-feedback">Edible Brooklyn, September 15th 2015 </a>
             
    <p>And the best products for the world, environment, our bodies and the future.</p>
    <p>But we want you to buy only the items you love.</p>
    <p>That's why you can try products here, before you buy them.</p>
    <div class="liner"></div>
    <div class="clearboth"></div>
    <i class="fa fa-heart-o"></i>
    <p><!-- spacer --></p>
    </div><!--/.big-text-->
</div><!--/.bg-->

<div id="video" class="content align-center grey-bg">
  <div class="container">
    <div class="row">

      <h2>{{ site.videos.title }}</h2>
      <p><div class="liner"></div></p>

      {% for video in site.videos.items %}
        <div class="col-md-3 col-sm-6">
          <div class="video-item" data-toggle="modal" data-target="#video{{ forloop.index + 1 }}">
            <img alt="video" class="img-responsive" src="images/{{ video.img_path }}">
            <p>{{ video.title }}</p>
            <div class="player-icon">
              <i class="fa fa-play-circle-o fa-3x"></i>
            </div>
            <div class="spacing40"></div>
          </div>
        </div>
      {% endfor %}

    </div><!--/.row-->
  </div><!--/.container-->
</div><!--/video-->

<!-- Modals -->
<div class="modal fade" id="video1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close pull-right" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Sustainia Award Finalists 2014</h4>
      </div>
      <div class="modal-body">
        <iframe src="https://player.vimeo.com/video/110195568?byline=0&portrait=0" width="800" height="450" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="video2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close pull-right" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">The Kur Bar – Simply Scandinavian</h4>
      </div>
      <div class="modal-body">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/jQyYzPjYl3s" frameborder="0" allowfullscreen></iframe>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="video3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close pull-right" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Sustainia - 100 Great Ideas</h4>
      </div>
      <div class="modal-body">
        <iframe src="https://player.vimeo.com/video/60652130?byline=0&portrait=0" width="800" height="450" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="video4" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close pull-right" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">The Organic Effect</h4>
      </div>
      <div class="modal-body">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/oB6fUqmyKC8" frameborder="0" allowfullscreen></iframe>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<!-- /Modals -->

<div id="signup" class="content dark-bg">
  <div class="container">
    <div class="row">
      <div class="col-md-9 align-center col-md-offset-1">
        <h3 class="bright">{{ site.section_signup.title }}</h3>
        <p class="sub-title">
          {{ site.section_signup.sub_title }}
        </p>
        <div class="liner"></div>

        {% include signup_form.html %}

        <div class="spacing40"></div>
      </div>
    </div>
  </div>
</div>
