<footer id="footer" class="content black-bg">
  <div class="container align-center">
       <ul class="footer-icon">
            <li><a href="https://www.facebook.com/recph"><i class="fa fa-facebook"></i></a></li>
<!--             <li><a href="#"><i class="fa fa-vk"></i></a></li>
            <li><a href="#"><i class="fa fa-pinterest"></i></a></li> -->
            <li><a href="https://twitter.com/recph"><i class="fa fa-twitter"></i></a></li>
<!--             <li><a href="#"><i class="fa fa-youtube"></i></a></li>
            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
            <li><a href="#"><i class="fa fa-xing"></i></a></li>
            <li><a href="#"><i class="fa fa-dribbble"></i></a></li> -->
        </ul><!--/.team-icon-->
        <div class="spacing40"></div>
      <p>TRYSOME, Flæsketorvet 28, 1711 Copenhagen V. - Tlf. XX XXX XXX - CVR:  XX XX XX XX</p>
    </div><!--/.container-->
</footer><!--/footer-->