<footer id="footer" class="content gray-bg">
  <div class="container align-center">
       <ul class="footer-icon">
            <li><a href="https://www.facebook.com/gotrysome" target="_blank"><i class="fa fa-facebook"></i></a></li>
            <li><a href="https://twitter.com/gotrysome" target="_blank"><i class="fa fa-twitter"></i></a></li>
            <li><a href="https://instagram.com/gotrysome" target="_blank"><i class="fa fa-instagram"></i></a></li>
            <li><a href="https://www.linkedin.com/company/trysome" target="_blank"><i class="fa fa-linkedin"></i></a></li>

            <!--
            <li><a href="#"><i class="fa fa-vk"></i></a></li>
            <li><a href="#"><i class="fa fa-pinterest"></i></a></li> -->
            <!-- <li><a href="#"><i class="fa fa-youtube"></i></a></li>
            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
            <li><a href="#"><i class="fa fa-xing"></i></a></li>
            <li><a href="#"><i class="fa fa-dribbble"></i></a></li> -->
        </ul><!--/.team-icon-->
        <div class="spacing40"></div>
      <p>TRYSOME, Copenhagen, Denmark
    </div><!--/.container-->
</footer><!--/footer-->