<!--HEADER START-->
<div class="header">
    <div class="for-sticky">
        <div class="container">
            <div class="row">
                <div class="logo text-center">
                  <a href="/"><img src="images/logo-transparent-border.png" alt="logo"></a>
                </div><!--/.logo-->
                <div class="col-md-10 menu-box hidden-xs hidden-sm">
                    <ul class="navigation">

                    </ul>
                </div><!--/.menu-box-->
                <div class="box-mobile hidden-lg hidden-md">
                    <div class="menu-btn" data-toggle="collapse" data-target=".nav-collapse">
                      <span class="fa fa-bars"></span>
                    </div>
                    <ul class="nav-collapse mobile-menu hidden-lg hidden-md"></ul>
                </div><!--/.box-mobile-->
            </div><!--/.row-->
        </div><!--/.container-->
    </div><!--/.for-sticky-->
</div><!--/.header-->
<!--HEADER END-->