<!--HEADER START-->
<div class="header">
  <div class="for-sticky">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
        <!-- col-xs-6 col-xs-offset-3 col-sm-4 col-sm-offset-4 -->
          <a class="logo" href="/"><img class="img-responsive" src="images/logos/TrySome_logo_DARK.png" alt="logo"></a>
        </div><!--/.logo-->
        <!--
        <div class="col-md-10 menu-box hidden-xs hidden-sm">
          <ul class="navigation">

          </ul>
        </div><!- -/.menu-box- ->

        <div class="box-mobile hidden-lg hidden-md">
          <div class="menu-btn" data-toggle="collapse" data-target=".nav-collapse">
            <span class="fa fa-bars"></span>
          </div>
          <ul class="nav-collapse mobile-menu hidden-lg hidden-md"></ul>
        </div><!- -/.box-mobile- ->
        -->
      </div><!--/.row-->
    </div><!--/.container-->
  </div><!--/.for-sticky-->
</div><!--/.header-->
<!--HEADER END-->