<div id="partner-logos" class="container">
  <div class="img-col align-center">
    <div class="img-cell">
      <img src="images/partners/food_tech_logo.png">
    </div>
    <div class="img-cell">
      <img src="images/partners/totalfoodservice.gif">
    </div>
  </div>
  <div class="img-col img-double-col align-center">
    <div class="img-cell">
      <img src="images/partners/edible.png">
    </div>
  </div>
  <div class="img-col align-center">
    <div class="img-cell">
      <img src="images/partners/ethically_styled.png">
    </div>
    <div class="img-cell">
      <img src="images/partners/foodstand_logo_centered.png">
    </div>
  </div>
</div>
