<!-- Begin MailChimp Signup Form -->
<div id="mc_embed_signup" class="row no-padding">
  <form action="http://marketplace.gotrysome.com/register">
    <div id="mc_embed_signup_scroll">
      <div class="mc-field-group col-sm-4 col-sm-offset-1 col-xs-7 no-side-padding">
        <p>If you already have an account sign in <a href="/login">here</a></p>
      </div>
      <div class="mc-field-group col-xs-4 col-sm-4 text-left">
        <button type="submit" class="button btn btn-primary btn-lg">
          <span class="visible-xs-* hidden-sm hidden-md hidden-lg">REGISTER</span>
          <span class="hidden-xs">SIGN UP</span>
        </button>
      </div>
    </div>
  </form>
</div>

<!--End mc_embed_signup-->
