h1, h2, h3, h4, h5, h6
  color: #1F1F1F
  &.bright
    color: #dfdfdf

p
  font-size: 14px
  margin: 0 0 15px
  line-height: 1.5

.logo
  margin-top: 28px
  width: 250px
  transition: all 0.5s ease-out 0s

.shrink
  .for-sticky
    background-color: #fff // rgba(255, 255, 255, 0.75)

    .logo
      margin-top: 0
      width: 150px

.head-title,
.sub-title
  letter-spacing: 0.04em

.sub-title
  font-size: 16px

.slider-mask
  background-color: transparent
  // background-color: rgba(20, 20, 20, 0.4)

.caption-box
  h3, h4, p, .signup-wrapper
    background-color: rgba(255, 255, 255, 0.75)
    margin: 0
  h3
    padding: 20px
    text-transform: none
    font-size: 30px
    line-height: 30px
    font-weight: 400
    letter-spacing: 0.04em
    color: #1F1F1F

  p
    font-weight: 200
    color: #1F1F1F
    padding: 0 20px 20px 20px
    letter-spacing: 1px
    text-transform: none
    &.highlight
      font-size: 18px
      font-weight: 200
  .photo-credit
    position: absolute
    right: 15px
    bottom: 15px

.bright-bg,
.grey-bg
  a
    color: #222

  .liner
    background-color: #1F1F1F

.dark-bg
  background-color: #1F1F1F
  .head-title,
  p
    color: #FFF


// @include media-max($screen-lg-min)
//   //Green
//   .caption-box
//     h3
//       height: 140px
//     p
//       height: 90px
// @include media-max($screen-md-min)
//   //Yellow
//   .caption-box
//     h3
//       height: 140px
//     p
//       height: 90px
// @include media-max($screen-sm-min)
//   //Orange
//   .caption-box
//     h3
//       height: 115px
//       font-size: 25px
//       margin-top: 20px
//     p
//       margin-bottom: 20px
//       height: 130px

.bg
  .big-text
    p
      font-size: 16px
      letter-spacing: normal
      text-transform: none
      &.sub-title
        text-transform: uppercase

.bg1 .para-img
  background-image: url("../images/bg/1.jpg")

// .bg2 .para-img
//   background-image: url("../images/bg/grafitti.jpg")

.btn-primary
  background-color: #008040
  border-color: darken(#008040, 10%)
  &:hover
    background-color: darken(#008040, 10%)
    border-color: darken(#008040, 15%)

span.break-mobile-only
  display: block
  height: 14px

@include media-min($screen-md-min)
  span.break-mobile-only
    display: none